<h2 class="text-center mt-3">UNIDADES DE MEDIDA</h2>

<div class="d-flex justify-content-start m-3">
<button class="btn bg-p-b p-3" (click)="showAgregar();"> <i class='bx bx-plus'></i> AGREGAR</button>
</div>

<div class="d-flex justify-content-center" *ngIf="loading">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

<div class="m-3 bg-white shadow rounded-3 p-3">

  <p-tabView>
    <p-tabPanel header="OPERA">
       <p-table [value]="filtrarMedidas('OPERA')" [tableStyle]="{ 'min-width': '50rem' }" [tableStyle]="{'min-width': '60rem', 'padding':'10px'}" [scrollable]="true" scrollHeight="600px"  styleClass="p-datatable-gridlines" >
    <ng-template pTemplate="header">
      <tr>
          <th>
               <p-columnFilter 
                type="text" 
                field="rfc" 
                placeholder="" 
                ariaLabel="" />
          </th>
            <th>
               <p-columnFilter 
                type="text" 
                field="nomprov" 
                placeholder="" 
                ariaLabel="" />
          </th>
            <th>
               <p-columnFilter 
                type="text" 
                field="nomarticulo" 
                placeholder="" 
                ariaLabel="" />
          </th>
           <th>
               <p-columnFilter 
                type="text" 
                field="noIdentificacion" 
                placeholder="" 
                ariaLabel="" />
          </th>
            <th>
               <p-columnFilter 
                type="text" 
                field="umedida" 
                placeholder="" 
                ariaLabel="" />
          </th>
            <th></th>
            <th></th>
            <th></th>
      </tr>
         <tr>
            <th scope="col">RFC</th>
            <th scope="col">PROVEEDOR</th>
            <th scope="col">ARTICULO</th>
            <th scope="col">NUM. IDENTICICACIÓN</th>
            <th scope="col">UNIDAD DE MEDIDA</th>
            <th scope="col">UNIDADES</th>
            <th></th>
            <th></th>
          </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.rfc}}</td>
            <td>{{item.nomprov}}</td>
            <td>{{item.nomarticulo}}</td>
             <td>{{item.noIdentificacion}}</td>
            <td>{{item.umedida}}</td>
            <td>{{item.uds}}</td>
            <td><button class="btn btn-primary" (click)="showUpdate(item);"><i class='bx bxs-edit' ></i></button></td>
            <td><button class="btn btn-danger" (click)="confirm1($event,item.noIdentificacion);"><i class='bx bx-trash bx-sm' ></i></button></td>
        </tr>
    </ng-template>
</p-table>
    </p-tabPanel>
    <p-tabPanel header="SLP">
        <p-table [value]="filtrarMedidas('SLP')" [tableStyle]="{ 'min-width': '50rem' }" [tableStyle]="{'min-width': '60rem', 'padding':'10px'}" [scrollable]="true" scrollHeight="600px"  styleClass="p-datatable-gridlines" >
    <ng-template pTemplate="header">
      <tr>
          <th>
               <p-columnFilter 
                type="text" 
                field="rfc" 
                placeholder="" 
                ariaLabel="" />
          </th>
            <th>
               <p-columnFilter 
                type="text" 
                field="nomprov" 
                placeholder="" 
                ariaLabel="" />
          </th>
            <th>
               <p-columnFilter 
                type="text" 
                field="nomarticulo" 
                placeholder="" 
                ariaLabel="" />
          </th>
           <th>
               <p-columnFilter 
                type="text" 
                field="noIdentificacion" 
                placeholder="" 
                ariaLabel="" />
          </th>
            <th>
               <p-columnFilter 
                type="text" 
                field="umedida" 
                placeholder="" 
                ariaLabel="" />
          </th>
            <th></th>
            <th></th>
            <th></th>
      </tr>
         <tr>
            <th scope="col">RFC</th>
            <th scope="col">PROVEEDOR</th>
            <th scope="col">ARTICULO</th>
            <th scope="col">NUM. IDENTICICACIÓN</th>
            <th scope="col">UNIDAD DE MEDIDA</th>
            <th scope="col">UNIDADES</th>
            <th></th>
            <th></th>
          </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.rfc}}</td>
            <td>{{item.nomprov}}</td>
            <td>{{item.nomarticulo}}</td>
             <td>{{item.noIdentificacion}}</td>
            <td>{{item.umedida}}</td>
            <td>{{item.uds}}</td>
            <td><button class="btn btn-primary" (click)="showUpdate(item);"><i class='bx bxs-edit' ></i></button></td>
            <td><button class="btn btn-danger" (click)="confirm1($event,item.noIdentificacion);"><i class='bx bx-trash bx-sm' ></i></button></td>
        </tr>
    </ng-template>
</p-table>
    </p-tabPanel>
</p-tabView>

  
</div>


<p-dialog header="AGREGAR UNIDADES DE MEDIDA" [(visible)]="modalagregar" [style]="{width: '75vw'}" [maximizable]="false" [modal]="true">
 
  <div class="row mb-4">
    <div class="col-6">
      <p class="mt-3 fw-bold" >PROVEDOR</p>
      <select class="form-select" [(ngModel)]="proveedorsel">
        <input type="text">
          <option *ngFor="let item of catproveedores" [value]="item.rfc">{{item.codproveedor +' - '+item.nombre}}</option>
      </select>
    </div>

    <div class="col-6">
      <p class="mt-3 fw-bold" >ARTÍCULO</p>

      <select class="form-select" [(ngModel)]="articulo">
        <option *ngFor="let item of catitems" [value]="item.cod">{{item.descripcion}}</option>
      </select>
    </div>
  
  </div>

    <div class="row">
     <div class="col-md-4">
      <P>UNIDAD DE MEDIDA</P>
     <input class="form-control" type="text" [(ngModel)]="modelmedida" [value]="modelmedida | uppercase">
     </div>
     <div class="col-md-4">
      <p>UNIDADES</p>
      <input class="form-control" type="number" [(ngModel)]="modeluds">
     </div>

     <div class="col-md-4"> <p>GRUPO</p>
        <select class="form-select" [(ngModel)]="modelgrupo">
          <option value="OPERA">OPERA</option>
          <option value="SLP">SLP</option>
        </select>
      </div>

    </div>
    
    <div class="d-flex justify-content-end mt-3">
      <button class="btn bg-p-b p-3" (click)="guardarMedidaUds();">GUARDAR</button>
    </div>
    
  </p-dialog>


  <p-dialog header="EDITAR UNIDADES DE MEDIDA" [(visible)]="modaleditar" [style]="{width: '75vw'}" [maximizable]="false" [modal]="true">
   
     <div class="row">
      <div class="col-6">
        <input class="form-control p-2" [value]="itemumedidaupdate?.nomprov" disabled>
      </div>
      <div class="col-6">
        <input class="form-control p-2" [value]="itemumedidaupdate?.nomarticulo" disabled>
      </div>
     </div>
      <div class="row mt-3">
       <div class="col-md-4">
        <P>UNIDAD DE MEDIDA</P>
       <input class="form-control p-2" type="text" [(ngModel)]="modelmedida" [value]="modelmedida| uppercase">
       </div>
       <div class="col-md-4">
        <p>UNIDADES</p>
        <input class="form-control p-2" type="number" [(ngModel)]="modeluds">
       </div>

       <div class="col-md-4"> <p>GRUPO</p>
        <select class="form-select" [(ngModel)]="modelgrupo">
          <option value="OPERA">OPERA</option>
          <option value="SLP">SLP</option>
        </select>
      </div>
      
    </div>
      
      <div class="d-flex justify-content-end mt-3">
        <button class="btn bg-p-b p-3" (click)="updateMedidaUds();">ACTUALIZAR</button>
      </div>
      
    </p-dialog>

  <p-confirmDialog></p-confirmDialog>
<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
