<div>
    <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
    <p-confirmDialog>
        <ng-template pTemplate="message" let-message>
            <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
                <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
                <p>{{ message.message }}</p>
            </div>
        </ng-template>
    </p-confirmDialog>

    <div class="m-2">
        <button class="btn bg-p-b p-3" (click)="showAgregar()"><i class='bx bx-plus'></i> Agregar </button>
    </div>

    <!-- sin resultados -->
    <div class="m-2 mt-3 bg-white p-3 shadow-sm rounded-3" *ngIf="foundData == false && loading == false">
        <h5>LISTA DE DIAS ESPECIALES</h5>
        <div class="bg-white m-4 p-3 d-flex align-items-center rounded-3 flex-column">
            <img src="assets/img/nodata.jpg" style="width: 80%; max-width: 25rem;">
            <p>NO SE ENCONTRARON REGISTROS</p>

        </div>
    </div>

    <!-- skeleton -->

    <div class="m-2 mt-3 bg-white p-3 shadow-sm rounded-3" *ngIf="loading">
        <div class="row m-0">
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="3rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="3rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="3rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="3rem"></p-skeleton> </div>
        </div>
       
        <div class="row m-0 mt-3">
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
        </div>
        <div class="row m-0 mt-2">
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
        </div>
        <div class="row m-0 mt-2">
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
        </div>
        <div class="row m-0 mt-2">
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
        </div>
        <div class="row m-0 mt-2">
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
        </div>
        <div class="row m-0 mt-2">
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
        </div>
        <div class="row m-0 mt-2">
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
            <div class="col-3"> <p-skeleton width="auto" styleClass="mb-2" height="1.5rem"></p-skeleton> </div>
        </div>

    </div>

    <!-- lista de dias -->
    <div class="m-2 mt-3" *ngIf="foundData && loading == false">
        <h5>LISTA DE DÍAS ESPECIALES POR SUCURSAL</h5>
        <div class="row ms-3 me-3">

          <div class="col-md-6">
            <div class="d-flex justify-content-start gap-3">
              <div>
                <span>SELECCIONAR FECHA</span>
                <input type="date" class="form-control"  style="height: 48PX;" [(ngModel)]="filtrofecha" >
              </div>
              
              <div>
                <span>SUCURSAL</span><br/>
                <p-multiSelect [options]="catsucursales" [(ngModel)]="filtrosuc" optionLabel="name" [style]="{'width':'10rem'}"></p-multiSelect>
            </div>
    
            <div>
              <p></p>
              <button class="btn bg-p-b p-3" (click)="filtrar()">FILTRAR</button>
            </div>

            <div>
              <p></p>
              <button class="btn bg-p-b p-3" (click)="borrarfiltros()"><i class='bx bx-reset bx-sm'></i></button>
            </div>
    
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="d-flex justify-content-end gap-3">
              <button class="btn bg-p-b p-2" (click)="seleccionartodo()"><i class='bx bxs-check-square bx-sm'></i></button>
              <button class="btn bg-p-b p-2" (click)="desmarcartodo()"><i class='bx bxs-x-square bx-sm' ></i></button>
              <button class="btn bg-p-b p-2" (click)="confirm()"><i class='bx bx-trash bx-sm' ></i></button>
        </div>
          </div>
        </div>
      

        <div class="m-4 p-3 bg-white shadow rounded-3">

            <table class="table">
                <thead >
                    <tr>
                      <td></td>
                        <th style="background-color: #fafafa;">DÍA</th>
                        <th style="background-color: #fafafa;">SEMANA</th>
                        <th style="background-color: #fafafa;">FECHA</th>
                        <th style="background-color: #fafafa;">DESCRIPCIÓN</th>
                        <th style="background-color: #fafafa;">SUCURSAL</th>
                        <th style="background-color: #fafafa;">ARTÍCULOS</th>
                        <th style="background-color: #fafafa;">FACTOR CONSUMO</th>
                        <th style="background-color: #fafafa;"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of elementosfiltrados; let i=index">
                      <td><input class="form-check-input" type="checkbox" (change)="checkregistro(item.id)" [checked]="getCheck(item.id)"></td>
                        <td>{{item.dia}}</td>
                        <td>{{item.semana}}</td>
                        <td>{{item.fecha | date}}</td>
                        <td>{{item.descripcion | uppercase}}</td>
                        <td>{{item.nombresuc}}</td>
                        <td>{{getStringArt(item.articulos)}}</td>
                        <td>{{item.factorConsumo}}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                              <button class="btn btn-primary me-3" (click)="showEdit(item)"><i class='bx bx-edit bx-sm' ></i></button>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

    <!-- MODAL AGREGAR DIA ESPECIAL -->

<p-dialog [header]="actualizar ? 'Acttualizar dia especial' :'Agregar día especial'" [(visible)]="modalAgregar" [modal]="true" [style]="{ 'width': '90%' }" [draggable]="false" [resizable]="false">
      
        <p>Fecha<span class="text-danger fw-bold fs-5">{{actualizar ? ': '+(formDate | date) :''}}</span></p>
        <div class="form-check form-switch" *ngIf="actualizar==false">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="switchmultifechas">
          <label class="form-check-label" for="flexSwitchCheckDefault">SELECCIONAR MÚLTIPLES FECHAS</label>
        </div>

        <div class="w-100" *ngIf="switchmultifechas">
          <p-calendar 
        [(ngModel)]="fechasMultiples" 
        selectionMode="multiple" 
        [readonlyInput]="true"
        [style]="{'width':'100%'}"
        [iconDisplay]="'input'" 
        [showIcon]="true" 
        inputId="icondisplay"
        [inline]="true"
        [locale]="es"
        [showWeek]="true"
        />
        </div>

        <div *ngIf="switchmultifechas == false">
          <p-calendar [(ngModel)]="formDate" [inline]="true" [showWeek]="true" [style]="{'width':'100%'}" (onSelect)="clickCalendar()" [locale]="es" ></p-calendar>

        </div>
       <div class="row mt-3" *ngIf="actualizar == false && switchmultifechas == false">
        <div class="col-sm-12 col-md-6">
            <p>Dia del año</p>
            <input type="number" class="form-control" [(ngModel)]="formDia" disabled/>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>Semana del año</p>
            <input type="number" class="form-control" [(ngModel)]="formsemana" disabled/>
        </div>
       </div>

       
       <div class="row mt-3" *ngIf="actualizar == true && switchmultifechas == false">
        <div class="col-sm-12 col-md-3">
            <p>Dia del año</p>
            <input type="number" class="form-control" [(ngModel)]="formDia" disabled/>
        </div>
        <div class="col-sm-12 col-md-3">
            <p>Semana del año</p>
            <input type="number" class="form-control" [(ngModel)]="formsemana" disabled/>
        </div>

        <div class="col-md-6 col-sm-12">
            <p>SUCURSAL</p>
            <select class="form-select" [(ngModel)]="sucursal" (change)="changeSuc()" disabled>
                <option *ngFor="let item of catsucursales" [value]="item.cod">{{item.name}}</option>
            </select>
    
          </div>
       </div>

    <div class="mt-3">
        <p>Descripción</p>
        <input type="text" class="form-control" [(ngModel)]="formdDescripcion" spellcheck="true"/>
    </div>

    <div class="mt-3">
        <p>Factor de consumo</p>
        <input type="number" class="form-control" [(ngModel)]="formFactor"/>
    </div>

    <p class="mt-3 fw-bold">ARTICULOS</p>
    <p-multiSelect [options]="catitems" [(ngModel)]="selecteditems" optionLabel="descripcion" [style]="{'width':'100%'}"></p-multiSelect>
    
 <div *ngIf="actualizar==false">
  <p class="mt-4 fw-bold" >SELECCIONAR UNA O MAS SUCURSALES</p>

  <div class="row m-0 p-0">
    <div class="col-auto">
      <button class="btn btn-light bg-g-l p-3" (click)="seleccionarTodo()" title="Seleccionar todo">
        <span> 
          <i class='bx bx-select-multiple bx-sm'></i>
        </span>
      </button>
    </div>

    <div class="col-auto">
      <button class="btn btn-light bg-g-l p-3" (click)="quitarselecciones()" title="Quitar selecciones">
        <span> 
          <i class='bx bx-x-circle bx-sm' ></i>
        </span>
      </button>
    </div>
  </div>
 </div>

    <div class="row m-0 mt-3" *ngIf="actualizar==false">

      @for (item of catsucursales; track $index) 
      {
        <div class="col-sm-6 col-lg-3 mt-3">
          <div class="p-3 rounded-3 card" [ngClass]="{'op-selected': sucursalesseleccionadas[$index]==1}"  (click)="chageStatusSucursal($index)">
            @if(sucursalesseleccionadas[$index]==0)
            {
              <i class='bx bx-circle bx-sm'></i>
            } @else
            {
              <i class='bx bxs-check-circle bx-sm color-t'></i>
            }
            {{item.name}}
          </div>
        </div>
      }

    </div>


    <div class="mt-3 mb-3 d-flex  justify-content-end">
        <button class="btn bg-p-b p-3 rounded-4" (click)="saveData()" *ngIf="actualizar == false"> <i class='bx bx-save' ></i> GUARDAR</button>
        <button class="btn bg-p-b p-3 rounded-4" (click)="updateData()" *ngIf="actualizar"> <i class='bx bx-save bx-sm' ></i> ACTUALIZAR</button>
    </div>


</p-dialog>

<!-- modal elimnar dias especial  -->



</div>