<div class="row m-0">

    <div class="rounded-lg col-md-12 col-lg-12 p-2 mb-3 h-100" >
  
      <div class="bg-white shadow p-4 rounded-lg p-3 w-100 rounded-3 h-100"  *ngIf="loading==false && resultados">
        
        <div class="row m-0">
          <div class="col-md-6">
            <p class="mt-3 fw-bold" >PROVEDOR</p>
            <select class="form-select" [(ngModel)]="proveedorsel" disabled>
              <input type="text">
                <option *ngFor="let item of catproveedores" [value]="item.codproveedor">{{item.codproveedor +' - '+item.nombre}}</option>
            </select>
          </div>

          <div class="col-md-6">
            <p class="mt-3 fw-bold" >VER CALENDARIO DE LA SUCURSAL</p>
            <select class="form-select" [(ngModel)]="sucursal" (change)="changeCalendar()">
                <option *ngFor="let item of catsucursales" [value]="item.cod">{{item.name}}</option>
            </select>
    
          </div>

        </div>
  
        <p class="mt-5 text-center fw-bold fs-5">CONFIGURACIÓN DE PEDIDOS</p>
         
         <div style="overflow-x: auto;" class="card p-3">
            <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">DOMINGO</th>
                    <th scope="col">LUNES</th>
                    <th scope="col">MARTES</th>
                    <th scope="col">MIERCOLES</th>
                    <th scope="col">JUEVES</th>
                    <th scope="col">VIERNES</th>
                    <th scope="col">SÁBADO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of arr_pedidos; let i = index">

                     <td>
                       <div style="min-height: 3rem;" class="card d-flex justify-content-center align-item-center" [ngClass]="{'bg-p-l': item[0]==1, 'bg-consumo': item[0]==2, 'c-entrega': item[0]==3}">
                         <div *ngIf="item[0]==1" class="text-center">PEDIDO</div>
                         <div *ngIf="item[0]==2" class="text-center">CONSUMO</div>
                         <div *ngIf="item[0]==3" class="text-center">ENTREGA</div>
                       </div>
                     </td>
                     <td>
                       <div style="min-height: 3rem;" class="card d-flex justify-content-center align-item-center" [ngClass]="{'bg-p-l': item[1]==1, 'bg-consumo': item[1]==2, 'c-entrega': item[1]==3}">
                         <div *ngIf="item[1]==1" class="text-center">PEDIDO</div>
                         <div *ngIf="item[1]==2" class="text-center">CONSUMO</div>
                         <div *ngIf="item[1]==3" class="text-center">ENTREGA</div>
                       </div>
                     </td>
                     <td>
                       <div style="min-height: 3rem;" class="card d-flex justify-content-center align-item-center" [ngClass]="{'bg-p-l': item[2]==1, 'bg-consumo': item[2]==2, 'c-entrega': item[2]==3}">
                         <div *ngIf="item[2]==1" class="text-center">PEDIDO</div>
                         <div *ngIf="item[2]==2" class="text-center">CONSUMO</div>
                         <div *ngIf="item[2]==3" class="text-center">ENTREGA</div>
                       </div>
                     </td>
                     <td>
                       <div style="min-height: 3rem;" class="card d-flex justify-content-center align-item-center" [ngClass]="{'bg-p-l': item[3]==1, 'bg-consumo': item[3]==2, 'c-entrega': item[3]==3}">
                         <div *ngIf="item[3]==1" class="text-center">PEDIDO</div>
                         <div *ngIf="item[3]==2" class="text-center">CONSUMO</div>
                         <div *ngIf="item[3]==3" class="text-center">ENTREGA</div>
                       </div>
                     </td>
                     <td>
                       <div style="min-height: 3rem;" class="card d-flex justify-content-center align-item-center" [ngClass]="{'bg-p-l': item[4]==1, 'bg-consumo': item[4]==2, 'c-entrega': item[4]==3}">
                         <div *ngIf="item[4]==1" class="text-center">PEDIDO</div>
                         <div *ngIf="item[4]==2" class="text-center">CONSUMO</div>
                         <div *ngIf="item[4]==3" class="text-center">ENTREGA</div>
                       </div>
                     </td>
                     <td>
                       <div style="min-height: 3rem;" class="card d-flex justify-content-center align-item-center" [ngClass]="{'bg-p-l': item[5]==1, 'bg-consumo': item[5]==2, 'c-entrega': item[5]==3}">
                         <div *ngIf="item[5]==1" class="text-center">PEDIDO</div>
                         <div *ngIf="item[5]==2" class="text-center">CONSUMO</div>
                         <div *ngIf="item[5]==3" class="text-center">ENTREGA</div>
                       </div>
                     </td>
                     <td>
                       <div style="min-height: 3rem;" class="card d-flex justify-content-center align-item-center" [ngClass]="{'bg-p-l': item[6]==1, 'bg-consumo': item[6]==2, 'c-entrega': item[6]==3}">
                         <div *ngIf="item[6]==1" class="text-center">PEDIDO</div>
                         <div *ngIf="item[6]==2" class="text-center">CONSUMO</div>
                         <div *ngIf="item[6]==3" class="text-center">ENTREGA</div>
                       </div>
                     </td>
                   </tr>
                
                </tbody>
              </table>
        </div>

        <p class="mt-4 fw-bold" >SELECCIONAR UNA O MAS SUCURSALES</p>

          <div class="row m-0 p-0">
            <div class="col-auto">
              <button class="btn btn-light bg-g-l p-3" (click)="seleccionarTodo()" title="Seleccionar todo">
                <span> 
                  <i class='bx bx-select-multiple bx-sm'></i>
                </span>
              </button>
            </div>

            <div class="col-auto">
              <button class="btn btn-light bg-g-l p-3" (click)="quitarselecciones()" title="Quitar selecciones">
                <span> 
                  <i class='bx bx-x-circle bx-sm' ></i>
                </span>
              </button>
            </div>
          </div>

          <div class="row m-0 mt-3">

            @for (item of catsucursales; track $index) 
            {
              <div class="col-sm-6 col-lg-3 mt-3">
                <div class="p-3 rounded-3 card" [ngClass]="{'op-selected': sucursalesseleccionadas[$index]==1}"  (click)="chageStatusSucursal($index)">
                  @if(sucursalesseleccionadas[$index]==0)
                  {
                    <i class='bx bx-circle bx-sm'></i>
                  } @else
                  {
                    <i class='bx bxs-check-circle bx-sm color-t'></i>
                  }
                  {{item.name}}
                </div>
              </div>
            }

          </div>

          <div class="d-flex justify-content-end mt-3">
            <button class="btn bg-p-b p-3 me-3" (click)="reloadComponent()">SELECCIONAR OTRO PROVEEDOR</button>
            <button class="btn bg-p-b p-3" style="width: 10rem;" (click)="saveAll()">
                <i class='bx bx-trash bx-sm' ></i>
              &nbsp;Eliminar</button>
          </div>

      </div>
  
      <!-- skelleton -->
      <div class="bg-white shadow p-4 rounded-lg p-3 w-100 rounded-3 h-100" style="overflow-x: auto;" *ngIf="loading && provseleccionado">
  
        <div class="border-round border-1 surface-border p-4 surface-card">
          <ul class="m-0 p-0 list-none">
              <li class="mb-3">
                  <div class="flex">
                      <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                      <div style="flex: 1">
                          <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
                          <p-skeleton width="75%"></p-skeleton>
                      </div>
                  </div>
              </li>
              <li class="mb-3">
                  <div class="flex">
                      <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                      <div style="flex: 1">
                          <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
                          <p-skeleton width="75%"></p-skeleton>
                      </div>
                  </div>
              </li>
              <li class="mb-3">
                  <div class="flex">
                      <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                      <div style="flex: 1">
                          <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
                          <p-skeleton width="75%"></p-skeleton>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="flex">
                      <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                      <div style="flex: 1">
                          <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
                          <p-skeleton width="75%"></p-skeleton>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
  
      </div>

      <!-- sin resultados -->
      <div *ngIf="resultados==false && loading==false">
             <div class="d-flex justify-content-center">
               <div class="bg-white shadow p-4 rounded-3">
                <p>NO SE ENCONTRARON RESULTADOS</p>
                <button class="btn bg-p-b p-3" (click)="reloadComponent()"> SELECCIONAR OTRO PROVEEDOR</button>
               </div> 
             </div>
      </div>

      <button class="btn bg-p-b p-3 mt-3" (click)="reloadComponent()" *ngIf="provseleccionado==false && shadowModal==false"> SELECCIONAR UN PROVEEDOR</button>
  
    </div>
  
  </div>
  
  <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
  
  <div class="card flex justify-content-center">

    <p-dialog header="Eliminar" [(visible)]="shadowModal" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      <div class="flex flex-column bg-white rounded-3 p-3">
          <p class="mt-3 fw-bold" >SELECCIONE UN PROVEDOR</p>
          <select class="form-select" [(ngModel)]="proveedorsel">
            <input type="text">
              <option *ngFor="let item of catproveedores" [value]="item.codproveedor">{{item.codproveedor +' - '+item.nombre}}</option>
          </select>        

          <div class="d-flex justify-content-end mt-3">
              <button class="btn bg-p-b p-2" style="width: 5rem;" (click)="next()">
                  <i class='bx bx-right-arrow-alt bx-sm' ></i>
              </button>
          </div>
      </div>
  </p-dialog>
</div>