@import 'bootstrap/scss/bootstrap';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
  --white-color: #ffffff;
  --grey-color: #707070;
  --grey-color-light: #aaa;

     /* ====== Transition ====== */
     --tran-03: all 0.2s ease;
     --tran-03: all 0.3s ease;
     --tran-04: all 0.3s ease;
     --tran-05: all 0.3s ease;
}



 $ptc:#cc2222; 
//$ptc:#7122cc; 
body {
  background-color: #eee;
  transition: all 0.3s ease;
}
/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: $ptc;
}
.navbar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.search_bar {
  height: 47px;
  max-width: 430px;
  width: 100%;
}
.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color-light);
  padding: 0 20px;
}
.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}
/* sidebar */
.sidebar {
  background-color: var(--white-color);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.3s ease;
}
.sidebar.close {
  padding: 60px 0;
  width: 80px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}
.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}
.menu_calendarios::before {
  content: "CALENDARIOS";
}

.menu_menu::before {
  content: "MENÚ";
}
.menu_setting::before {
  content: "Setting";
}
.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}
.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: $ptc;
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.nav_link:hover {
  color: var(--white-color);
  background: $ptc;
}
.sidebar.close .nav_link:hover {
  background: var(--white-color);
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}
.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}
.bottom i {
  font-size: 20px;
}
.bottom span {
  font-size: 18px;
}
.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  .sidebar.close {
    left: -100%;
  }
  .search_bar {
    display: none;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }

  .home
  {
    left: 0px !important;
    width: 100% !important;
  }

}

.home{
    position: absolute;
    top: 85px;
    left: 270px;
    margin-right: 10px;
    height: calc(100vh - 85px);
    width: calc(100% - 280px);
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding: 0px;
}

.bg-p-b
{
    background-color: $ptc;
    color: white;
}

.bg-p-b:hover
{
    background-color: darken($ptc, 10%);
    color: white;

    
}


.bg-p-l
{
    background-color: $ptc;
    color: white;
}
.bg-g-l
{
    background-color: #eee;
    color: black;
}


.form-check-input:checked {
  background-color: $ptc;
  border-color: $ptc;
}

.form-check-input:focus
{
  border-color: $ptc;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: $ptc;
  background: $ptc;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid $ptc;
}

.form-select:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid $ptc;
}

ul {
  list-style-type: none;
}

.op-selected{
  border: 2px solid $ptc;
}

.color-t
{
  color: $ptc;
}

.c-entrega
{
  background-color: rgb(1, 184, 108);
  color: rgb(255, 255, 255);
}

.expanded {
  left: 78px;
  width: calc(100% - 88px);
  padding: 0px 0px 0px 10px;
}


.lds-ring {
  /* change color here */
  color: #e70000
}
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bg-consumo
{
  background-color: #ecc30b;
  color: black;
}



.tableR {
  width: 100%;
  border-collapse: collapse;
}

.thR, .tdR {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.table-danger
{
  background-color: #cc2222;
  color: white;
}

.p-picklist-buttons .p-button
{
  color: #ffffff;
    background: #000000;
    border: 1px solid #ffffff;
    border-radius: 10%;
}

ol, ul {
  padding: 1rem;
}

.p-picklist-target-wrapper
{
  border: 3px solid #00ff2a;
}

.p-picklist-source-wrapper
{
  border: 3px solid #ff0000;
}